body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(app/back.jpg);
  background-repeat: repeat;
}

body > div.wdg-layout-stack {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

section {
  padding: 1rem;
}

blockquote {
    background: #eef;
    color: rgba(0,0,0,.5);
    font-style: italic;
    padding: 1rem;
    box-shadow: -4px 0 #aaf;
}
