.wdg-item {
    position: relative;
    display: block;
    margin: .5rem 0;
    padding: .5rem;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.5);
    border: none;
    border-radius: 0;
    width: 100%;
    text-align: left;
}

.wdg-item > .delete {
  margin: 0 0 0 1rem;
  float: right;
}

.wdg-item > .name {
  font-weight: bold;
}

.wdg-item > .pwd {
  color: #ba7;
  font-style: italic;  
  line-height: 1rem;
  font-size: 120%;
}

.wdg-item.active > .pwd {
  color: #000;
  font-style: normal;
  transition: color .3s;
  font-family: monospace;
}
